# Activities from Different Countries
This notebook count the number of activities from different countries

In [1]:
import sys # never mind these two commands.
sys.path.append('d:/anaconda/lib/site-packages')
import json
import csv
import pandas as pd
from collections import Counter

In [3]:
with open('fringe_2019.json') as json_file:
    fringe_2019 = json.load(json_file)

with open('fringe_2018.json') as json_file:
    fringe_2018 = json.load(json_file)
    
with open('fringe_2017.json') as json_file:
    fringe_2017 = json.load(json_file)

## Count the countries of the activities

In [6]:
def countCountry(data):
    country = []
    count = []
    for item in data:
        country.append(item['country'])

    count = dict(Counter(country))
    count['year'] = data[0]['year']
    
    return count

In [7]:
country_2019 = countCountry(fringe_2019)
country_2018 = countCountry(fringe_2018)
country_2017 = countCountry(fringe_2017)

In [8]:
data = []
data.append(country_2017)
data.append(country_2018)
data.append(country_2019)

In [20]:
country_count = pd.DataFrame(data)
country_count = country_count.set_index(['year'])
country_count

,UNITED KINGDOM - ENGLAND,UNITED KINGDOM - SCOTLAND,CHINA,FRANCE,SWEDEN,ITALY,UNITED STATES,AUSTRALIA,IRELAND,CZECH REPUBLIC,...,UKRAINE,MALAWI,COUNTRY NOT DECLARED,CÔTE D'IVOIRE,UNITED ARAB EMIRATES,MACAO,"IRAN, ISLAMIC REPUBLIC OF",CAYMAN ISLANDS,SAUDI ARABIA,CUBA
year,,,,,,,,,,,,,,,,,,,,,
2017,1985,996,21,11,9,11,246,138,56,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,2112,1091,10,12,5,11,231,144,69,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,2224,1131,19,8,2,14,285,140,83,1.0,...,2.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0

In [21]:
country_count.iloc[0].sort_values(ascending=False)[:10]

UNITED KINGDOM - ENGLAND     1985.0
UNITED KINGDOM - SCOTLAND     996.0
UNITED STATES                 246.0
AUSTRALIA                     138.0
IRELAND                        56.0
CANADA                         49.0
UNITED KINGDOM - WALES         43.0
CHINA                          21.0
KOREA, REPUBLIC OF             20.0
NEW ZEALAND                    18.0
Name: 2017, dtype: float64

In [17]:
country_count.iloc[1].sort_values(ascending=False)[:10]

UNITED KINGDOM - ENGLAND             2112.0
UNITED KINGDOM - SCOTLAND            1091.0
UNITED STATES                         231.0
AUSTRALIA                             144.0
IRELAND                                69.0
CANADA                                 46.0
UNITED KINGDOM - WALES                 34.0
NEW ZEALAND                            25.0
GERMANY                                21.0
UNITED KINGDOM - NORTHERN IRELAND      18.0
Name: 2018, dtype: float64

In [18]:
country_count.iloc[2].sort_values(ascending=False)[:10]

UNITED KINGDOM - ENGLAND             2224.0
UNITED KINGDOM - SCOTLAND            1131.0
UNITED STATES                         285.0
AUSTRALIA                             140.0
IRELAND                                83.0
CANADA                                 55.0
UNITED KINGDOM - WALES                 45.0
NEW ZEALAND                            30.0
UNITED KINGDOM - NORTHERN IRELAND      27.0
GERMANY                                24.0
Name: 2019, dtype: float64

In [22]:
country_count.to_csv('countryCount.csv')

The Fringe Festival draws activities from all over the world, the distribution in countries and regions have changed little over the past three years. Activities are mainly from England and Scotland, except the United Kingdom, also lots of activities from the United States, Australia, Ireland, and Canada.
We generate this part of data as csv file to make a geographic graph in the infographic, we basically use data from 2019. (Please see it in our infographic)